# datasets
PyTorch基础/data
ResNet/fruit_and_vegetable_data/raw
ResNet/fruit_and_vegetable_data/train
ResNet/fruit_and_vegetable_data/test
CLIP/fruit_and_vegetable_data/raw
CLIP/fruit_and_vegetable_data/train
CLIP/fruit_and_vegetable_data/test